
<div class="tab">
    @ItemTabs
</div>

<p>
    <label>
        Select your transport:
        <select @onchange="OnDropdownChange">
            <option value="">Select a value</option>
            <option value="@nameof(GestionClientesComponent)">ULA</option>
        </select>
    </label>
</p>

@if (selectedType is not null)
{
    <div class="border border-primary my-1 p-1">
        <DynamicComponent Type="selectedType" />
    </div>
}

@code {
    private Type? selectedType;

    [Parameter] public RenderFragment ItemTabs { get; set; } = null!;

    private void OnDropdownChange(ChangeEventArgs e)
    {
        /*
            IMPORTANT!
            Change "BlazorSample.Shared.dynamiccomponent" to match
            your shared component's namespace in the Type.GetType() argument.
        */
        selectedType = e.Value?.ToString()?.Length > 0 ?
            Type.GetType($"GComFuelManager.Client.Pages.Actualizaciones.Asignaciones.{e.Value}") : null;
    }
}