<li>
    @if (!string.IsNullOrEmpty(Titulo))
    {
        @Titulo
    }
</li>

@code {
    [Parameter] public string Titulo { get; set; } = string.Empty;
    [Parameter] public RenderFragment Componente { get; set; } = null!;
}