@inherits LayoutComponentBase
@inject GComFuelManager.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="page">
            @if (!isClosed)
            {
                <div class="sidebar">
                    @*<MenuLateral />*@
                    <NavMenu></NavMenu>
                </div>
            }

            <main>
                <div>
                    <MenuNav close=@isClosed closeMenu="CloseMenu" />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code{
    public bool isClosed = false;

    public void CloseMenu()
    {
        isClosed = !isClosed;
    }

    [CascadingParameter]
    public Task<AuthenticationState> AuthenticationStateTask { get; set; } = null!;
    protected async override Task OnInitializedAsync()
    {
        await js.InvokeVoidAsync("timerInactivo", DotNetObjectReference.Create(this));
        renovadorToken.Iniciar();
    }

    [JSInvokable]
    public async Task Logoute()
    {
        var authState = await AuthenticationStateTask;
        if (authState.User.Identity!.IsAuthenticated)
        {
            navigationManager.NavigateTo("logout");
        }
    }

}