@inherits LayoutComponentBase
@inject GComFuelManager.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="page">
            <Menu_Lateral_Emergente />

            <main>
                <div>
                    <MenuNav />
                </div>

                <article class="content px-2">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code {

    protected async override Task OnInitializedAsync()
    {
        renovadorToken.Iniciar();
        renovadorToken.CheckLogin();
        StateHasChanged();
    }

}