@inherits LayoutComponentBase
@inject GComFuelManager.Client.Auth.RenovadorToken renovadorToken 

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="page">
            @if (!isClosed)
            {
                <div class="sidebar">
                    @*<MenuLateral />*@
                    <NavMenu></NavMenu>
                </div>
            }

            <main>
                <div>
                    <MenuNav close=@isClosed closeMenu="CloseMenu" />
                </div>

                <article class="content px-4">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code{
    public bool isClosed = false;

    public void CloseMenu()
    {
        isClosed = !isClosed;
    }

    protected override void OnInitialized()
    {
        renovadorToken.Iniciar();
    }

}