@inherits LayoutComponentBase
@inject GComFuelManager.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="page">
            @if (!isClosed)
            {
                <div class="sidebar">
                    @*<MenuLateral />*@
                    <NavMenu></NavMenu>
                </div>
            }

            <main>
                <div>
                    @* <Menu_Superior /> *@
                    <MenuNav close=@isClosed closeMenu="CloseMenu" />
                </div>

                <article class="content px-2">
                    @Body
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    public bool isClosed = false;

    public async void CloseMenu()
    {
        isClosed = !isClosed;
        await js.SetItemLocalStorage("CloseMenu", isClosed.ToString());
    }


    protected async override Task OnInitializedAsync()
    {


        var cm = await js.GetItemLocalStorage("CloseMenu");
        if (cm is not null)
            isClosed = bool.Parse(cm);

        renovadorToken.Iniciar();
    }


}