@inherits LayoutComponentBase
@inject GComFuelManager.Client.Auth.RenovadorToken renovadorToken
@inject IJSRuntime js
@inject NavigationManager navigationManager

<AuthorizeView>
    <Authorized>
        <RadzenDialog />
        <RadzenNotification />
        <RadzenContextMenu />
        <RadzenTooltip />

        <div class="page">
            <Menu_Lateral_Emergente />

            <main>
                <div>
                    <MenuNav />
                </div>

                <article class="content px-2">
                    <ErrorBoundary @ref="errorBoundary">
                        <ChildContent>
                            @Body
                        </ChildContent>
                        <ErrorContent Context="errorui">
                            <p class="errorUI">😈 A rotten gremlin got us. Sorry!</p>
                        </ErrorContent>
                    </ErrorBoundary>
                </article>
            </main>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    private ErrorBoundary? errorBoundary;

    protected override void OnInitialized()
    {
        renovadorToken.Iniciar();
    }

    protected override void OnParametersSet()
    {
        errorBoundary?.Recover();
    }
}
