@inject ILoginService login
@inject SweetAlertService swal
@inject NavigationManager navigate
@inject IJSRuntime js
@inject IRepositorio repositorio

<AuthorizeView Context="MenuGeneral">
    <Authorized>

        <div class="col-12 gcom-bg-rojo text-white row d-flex m-0">

            @* <div class="col-1 d-flex justify-content-center">
                @if (close)
                {
                <div class="col-4 d-flex justify-content-center align-middle" style="cursor:pointer" @onclick="CloseMenuLateral">
                <i class="fa fa-solid fa-bars my-auto"></i>
                </div>
                }
                else
                {
                <div class="col-4 d-flex justify-content-center align-middle" style="cursor:pointer" @onclick="CloseMenuLateral">
                <i class="fa fa-solid fa-bars my-auto"></i>
                </div>
                }
                </div> *@

            <div class="col d-flex">
                <button class="btn gcom-bg-rojo my-auto text-white" @onclick="OpenMenuLateral">
                    <i class="fa fa-solid fa-bars"></i>
                </button>
            </div>
            <div class="col-8 d-flex">
                <RadzenMenu class="gcom-bg-rojo col-12 my-auto" Style="background-color:#BA1C15;--rz-menu-background-color:#BA1C15;--rz-menu-item-background-color:#BA1C15;--rz-menu-item-2nd-level-background-color: #BA1C15;--rz-menu-item-3nd-level-background-color: #BA1C15;width:150px;">

                    <AuthorizeView Roles="Administrador de Usuarios" Context="MenuUsuarios">
                        <RadzenMenuItem Path="usuarios" class="gcom-bg-rojo col-12">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-user" aria-hidden="true"></i> Usuarios
                                </div>
                            </Template>
                        </RadzenMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Programador, Gestion de Transporte, Correo de Clientes, Analista Credito, Contador, Ejecutivo de Cuenta Comercial" Context="Configs">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-gear" aria-hidden="true"></i> Configuracion
                                </div>
                            </Template>
                            <ChildContent>
                                @*auth*@
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador">
                                    <RadzenMenuItem>
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-server"></i> Datos
                                            </div>
                                        </Template>
                                        <ChildContent>
                                            <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia" Context="Toneles">
                                                <RadzenMenuItem Path="datos/tonel" class="gcom-bg-rojo col-12">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa-solid fa-truck-moving"></i> Toneles
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>
                                            </AuthorizeView>
                                            <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador" Context="Choferes">
                                                <RadzenPanelMenuItem Path="datos/Catalogo/Chofer" class="gcom-bg-rojo col-12" Style="border:hidden">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa-solid fa-id-card"></i> Choferes
                                                        </div>
                                                    </Template>
                                                </RadzenPanelMenuItem>
                                            </AuthorizeView>
                                            <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia" Context="Destinos">
                                                <RadzenMenuItem Path="datos/codigos/destino" class="gcom-bg-rojo col-12">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa-solid fa-location-dot" style="color: #feffff;"></i> Destinos
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>
                                            </AuthorizeView>

                                        </ChildContent>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Comercial">
                                    <RadzenMenuItem>
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-percent"></i> Porcentajes
                                            </div>
                                        </Template>
                                        <ChildContent>
                                            <AuthorizeView Roles="Admin, Administrador Sistema" Context="Calculo">
                                                <RadzenMenuItem Path="porcentaje/cierre" class="gcom-bg-rojo col-12">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa-solid fa-store-slash"></i> Calculo de cierre
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>
                                            </AuthorizeView>
                                            <AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Comercial, Direccion, Gerencia" Context="ClientesFormula">
                                                <RadzenMenuItem Path="porcentaje/clientes" class="gcom-bg-rojo col-12">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa-solid fa-business-time"></i> Clientes por formulacion
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>
                                            </AuthorizeView>
                                        </ChildContent>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Contador, Analista Credito, Programador, Gestion de Transporte, Correo de Clientes, Ejecutivo de Cuenta Comercial">
                                    <RadzenMenuItem class="gcom-bg-rojo col-12 text-white" Selected=false>
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-rotate" aria-hidden="true"></i> Actualizacion de registros
                                            </div>
                                        </Template>
                                        <ChildContent>
                                            <AuthorizeView Roles="Admin, Administrador Sistema, Gestion de Transporte, Programador" Context="Actualizar">
                                                <RadzenMenuItem Path="actualizacion" class="gcom-bg-rojo col-12" Style="border:hidden;">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa fa-solid fa-database" aria-hidden="true"></i> Actualizar datos
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>
                                            </AuthorizeView>

                                            <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador, Correo de Clientes, Ejecutivo de Cuenta Comercial" Context="AsignarCliDest">
                                                <RadzenMenuItem Path="asignar-cliente-destino" class="gcom-bg-rojo col-12">
                                                    <Template>
                                                        <div class="text-white">
                                                            <i class="fa fa-solid fa-user-tie" aria-hidden="true"></i> Relacionar datos
                                                        </div>
                                                    </Template>
                                                </RadzenMenuItem>

                                            </AuthorizeView>

                                        </ChildContent>
                                    </RadzenMenuItem>

                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="Correos">
                                    <RadzenMenuItem Path="configuracion-email" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-envelope" aria-hidden="true"></i> Correo Interno
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>

                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="Monedas">
                                    <RadzenPanelMenuItem Path="configuracion/moneda" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-coins" aria-hidden="true"></i> Moneda
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>

                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador, Correo de Clientes, Ejecutivo de Cuenta Comercial" Context="AsignarCliDest">
                                    <RadzenPanelMenuItem Path="configuracion/generacion/folios" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-marker" aria-hidden="true"></i> Generacion de folios
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>

                                </AuthorizeView>

                            </ChildContent>
                        </RadzenMenuItem>

                    </AuthorizeView>
                    <!--Menu de precios-->
                    <AuthorizeView Roles="Analista Credito, Contador, Revision Precios">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-money-bill-1-wave" aria-hidden="true"></i> Precios
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Precios, Direccion, Gerencia, Analista Credito, Contador, Revision Precios" Context="Pricing">
                                    <RadzenMenuItem Path="precios" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-money-bill-1-wave" aria-hidden="true"></i> Precios
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Precios, Analista Credito, Contador, Revision Precios" Context="Correos">
                                    <RadzenMenuItem Path="historial/precios" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-file-invoice-dollar"></i> Historial de Precios
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>
                    @if (Esta_En_Tuxpan)
                    {
                    <AuthorizeView Roles="Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Cierre Pedidos, Revision Precios">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierres
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Revision Precios" Context="CierrePedido">
                                    <RadzenMenuItem Path="cierre/pedido" class="gcom-bg-rojo">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre de pedidos
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Revision Precios" Context="CierreGrupo">
                                    <RadzenMenuItem Path="cierre-grupo" class="gcom-bg-rojo">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre por grupo
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Comercial" Context="ConfirmCierre">
                                    <RadzenPanelMenuItem Path="confirm-cierre" class="gcom-bg-rojo" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-clipboard-check"></i> Confirmación de cierres de clientes
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Cierre Pedidos" Context="CierreCerrar">
                                    <RadzenMenuItem Path="cerrar" class="gcom-bg-rojo">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-folder-closed"></i> Cerrar pedidos
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Ejecutivo de Cuenta Comercial, Revision Precios" Context="CierreStatus">
                                    <RadzenMenuItem Path="orden" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-truck-ramp-box" aria-hidden="true"></i> Estado de pedido
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Revision Precios" Context="ReportesCierre">
                                    <RadzenMenuItem Path="reporte/cierres">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-file-excel"></i> Reporte Cierres
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="ReportesCierre">
                                    <RadzenPanelMenuItem Path="reporte/cierres/volumen" class="gcom-bg-rojo" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-file-excel" aria-hidden="true"></i> Reporte de Volumen de Cierres
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>
                        }
                        else
                        {

                        }
                    <!--Menú de órdenes-->
                    <AuthorizeView Roles="Consulta Precio Orden, Lectura Asignacion, Ejecutivo de Cuenta Comercial, Ejecutivo de Cuenta Operativo , Programador, Revision Precios , Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Analista Credito, Contador, Auditor , Comprador, Revision Precios" Context="Ordenes">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                                    <RadzenPanelMenuItem Path="ordenes" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes sin pedido
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                                    <RadzenPanelMenuItem Path="ordenes/pedido" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes de pedido
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                                    <RadzenPanelMenuItem Path="ordenes/copiadas" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Confirmar ordenes copiadas
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial">
                                    <RadzenMenuItem Path="confirm-ordenes" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Confirmar ordenes de clientes
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Lectura Asignacion">
                                    <RadzenMenuItem Path="asignacion/unidades" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-truck-droplet" aria-hidden="true"></i> Programación Equipos
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>

                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Credito, Contador, Auditor, Ejecutivo de Cuenta Operativo">
                                    <RadzenMenuItem Path="seguimiento/ordenes" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-clipboard-list" aria-hidden="true"></i> Seguimiento de órdenes
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>

                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Ejecutivo de Cuenta Operativo">
                                    <RadzenMenuItem Path="/consulta/Orden" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i> Consulta de Orden
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Revision Precios">
                                    <RadzenMenuItem Path="/consulta/ordencliente" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-list-check"></i> Reporte de órdenes / precios de venta
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Ejecutivo de Cuenta Operativo, Comprador">
                                    <RadzenMenuItem Path="eta" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-hourglass-half" aria-hidden="true"></i> ETA
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador" Context="Estados">
                                    <RadzenMenuItem Path="/gestionEstados" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-bars-progress"></i> Gestión de Estados
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador" Context="OrdenHistorial">
                                    <RadzenMenuItem Path="historial/asignacion" class="gcom-bg-rojo col-12">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-file-invoice-dollar"></i> Historial de envios a synthesis
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Ejecutivo de Cuenta Operativo">
                                    <RadzenPanelMenuItem Path="actualizar/pedidos" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-repeat" aria-hidden="true"></i> Actualizar ordenes
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Contraloria">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-file-circle-check" aria-hidden="true"></i> Pedimento
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Contraloria" Context="Pedimento">
                                    <RadzenMenuItem Path="pedimento" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-file-circle-check" aria-hidden="true"></i> Costos
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Contraloria" Context="Listado_Pedimentos">
                                    <RadzenMenuItem Path="listado/pedimentos" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-file-circle-check" aria-hidden="true"></i> Listado de pedimentos
                                            </div>
                                        </Template>
                                    </RadzenMenuItem>
                                </AuthorizeView>
                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Analista Credito">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-file-circle-check" aria-hidden="true"></i> Redireccion
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Ejecutivo de Cuenta Operativo" Context="Red_page">
                                    <RadzenPanelMenuItem Path="redireccionamiento" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-diamond-turn-right" aria-hidden="true"></i> Redireccionar ordenes
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Ejecutivo de Cuenta Operativo" Context="Red_List_Page">
                                    <RadzenPanelMenuItem Path="listado/redireccion" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-diamond-turn-right" aria-hidden="true"></i> Listado redireccion
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>
                    <AuthorizeView Roles="Tarifas">
                        <RadzenMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden;">
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-file-invoice-dollar"></i> Tarifario
                                </div>
                            </Template>
                            <ChildContent>
                                <RadzenPanelMenuItem Path="tarifario" class="gcom-bg-rojo col-12" Style="border:hidden;">
                                    <Template>
                                        <div class="text-white">
                                            <i class="fa-solid fa-file-invoice"></i> Tarifas
                                        </div>
                                    </Template>
                                </RadzenPanelMenuItem>
                                <RadzenPanelMenuItem>
                                    <Template>
                                        <div class="text-white">
                                            <i class="fa-solid fa-file-invoice-dollar"></i> Historial de Tarifas
                                        </div>
                                    </Template>
                                </RadzenPanelMenuItem>
                            </ChildContent>
                        </RadzenMenuItem>
                    </AuthorizeView>
                </RadzenMenu>
            </div>
            <div class="col-3 d-flex gcom-bg-rojo-dark">
                <div class="col-6 text-center d-flex justify-content-end" style="text-overflow:ellipsis">
                    @if (MenuGeneral.User.Identity is not null)
                    {
                        <p class="my-auto">
                            @MenuGeneral.User.Claims.Where(x => x.Type == "Terminal").FirstOrDefault()?.Value | @MenuGeneral.User.Identity.Name
                        </p>
                    }
                </div>
                <div class="col-6 text-center my-auto">
                    <button class="btn text-white col-12" @onclick="@CerrarSesion">Cerrar sesion</button>
                </div>
            </div>
        </div>

    </Authorized>
</AuthorizeView>

@* <script>
        function openNav() {
            document.getElementById("mySidepanel").style.width = "250px";
        }

        function closeNav() {
            document.getElementById("mySidepanel").style.width = "0";
        }
    </script> *@


@code {

    protected override async Task OnInitializedAsync()
    {
        await Checar_Terminal();
    }

    bool Esta_En_Tuxpan = true;
    private async Task Checar_Terminal()
    {
        try
        {
            var response = await repositorio.Get<Tad>($"api/terminal/check");
            //var response = await repositorio.Post<List<OrdenEmbarque>>($"api/services/simulacion/synthesis", ordens);

            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                Esta_En_Tuxpan = response.Response.Cod == 1;
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async void OpenMenuLateral()
    {
        await js.InvokeVoidAsync("OpenMenu");
    }

    private async void CerrarSesion()
    {
        try
        {
            await login.Logoute();
            navigate.NavigateTo("/login");
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }
}