<div class="col-12 h-100 gcom-bg-rojo">
    <div class="col-12 gcom-bg-rojo-dark p-3">
        <div class="d-flex justify-content-center col-12">
            <img src="img/gcom_unilogo.png" class="img-fluid col-7" />
        </div>
        <div class="col-12 text-center text-white my-2">
            <b>Gcom Fuel Manager</b>
        </div>
    </div>
    <div class="col-12 p-2">
        <nav class="flex-column">
            <div class="nav-item p-2">
                <NavLink class="nav-link text-decoration-none text-white fw-bold fs-6" href="" Match="NavLinkMatch.All">
                    <div class="d-flex col-12">
                        <div class="mx-2 col-2">
                            <img src="img/lista-de-verificacion.png" class="img-fluid" style="width:32px; height:auto;" />
                        </div> <p class="my-auto">Pedidos</p>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item p-2">
                <NavLink class="nav-link text-decoration-none text-white fw-bold fs-6" href="" Match="NavLinkMatch.All">
                    <div class="d-flex col-12">
                        <div class="mx-2 col-2">
                            <img src="img/camion-de-carga.png" class="img-fluid" style="width:32px;" />
                        </div> 
                        <p class="my-auto">Asignacion de unidades</p>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item p-2">
                <NavLink class="nav-link text-decoration-none text-white fw-bold fs-6" href="" Match="NavLinkMatch.All">
                    <div class="d-flex col-12">
                        <div class="mx-2 col-2">
                            <img src="img/lista(1).png" class="img-fluid" style="width:32px;" />
                        </div> <p class="my-auto">Seguimiento de ordenes</p>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item p-2">
                <NavLink class="nav-link text-decoration-none text-white fw-bold fs-6" href="" Match="NavLinkMatch.All">
                    <div class="d-flex col-12">
                        <div class="mx-2 col-2">
                            <img src="img/usuario.png" class="img-fluid" style="width:32px; height:auto;" />
                        </div> <p class="my-auto">Usuarios</p>
                    </div>
                </NavLink>
            </div>
            <div class="nav-item p-2">
                <NavLink class="nav-link text-decoration-none text-white fw-bold fs-6" href="" Match="NavLinkMatch.All">
                    <div class="d-flex col-12">
                        <div class="mx-2 col-2">
                            <img src="img/hourglass.png" class="img-fluid" style="width:32px; height:auto;" />
                        </div> <p class="my-auto">ETA</p>
                    </div>
                </NavLink>
            </div>
        </nav>
    </div>
</div>

@code {

}
