<div class="col-12 gcom-bg-rojo-dark p-3">
    <div class="d-flex justify-content-center col-12">
        <img src="img/gcom_unilogo.png" class="img-fluid col-7" />
    </div>
    <div class="col-12 text-center text-white my-2">
        <b>Gcom Fuel Management</b>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable gcom-bg-rojo" @onclick="ToggleNavMenu">
    <RadzenPanelMenu class="gcom-bg-rojo" Style="--rz-panel-menu-item-background-color:#BA1C15;--rz-panel-menu-item-2nd-level-background-color: #BA1C15;">

        <AuthorizeView Roles="Admin, Administrador Sistema, Administrador de Usuarios, Direccion, Gerencia">
            <RadzenPanelMenuItem Path="usuarios" class="gcom-bg-rojo col-12" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-user" aria-hidden="true"></i> Usuarios
                    </div>
                </Template>
            </RadzenPanelMenuItem>

        </AuthorizeView>

        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Gestion de Transporte, Correo de Clientes, Analista Credito, Contador, Ejecutivo de Cuenta Comercial" Context="Configs">
            <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-gear" aria-hidden="true"></i> Configuracion
                    </div>
                </Template>
                <ChildContent>
                    @*auth*@
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador">
                        <RadzenPanelMenuItem>
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-server"></i> Datos
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia" Context="Toneles">
                                    <RadzenPanelMenuItem Path="datos/tonel" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-truck-moving"></i> Toneles
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia" Context="Destinos">
                                    <RadzenPanelMenuItem Path="datos/codigos/destino" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-location-dot" style="color: #feffff;"></i> Destinos
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador" Context="Choferes">
                                    <RadzenPanelMenuItem Path="datos/Catalogo/Chofer" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-id-card"></i> Choferes
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                            </ChildContent>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                    @*auth*@
                    <AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Comercial">
                        <RadzenPanelMenuItem>
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-percent"></i> Porcentajes
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema" Context="Calculo">
                                    <RadzenPanelMenuItem Path="porcentaje/cierre" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-store-slash"></i> Calculo de cierre
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Ejecutivo de Cuenta Comercial, Direccion, Gerencia" Context="ClientesFormula">
                                    <RadzenPanelMenuItem Path="porcentaje/clientes" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa-solid fa-business-time"></i> Clientes por formulacion
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>
                            </ChildContent>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Contador, Analista Credito, Programador, Gestion de Transporte, Correo de Clientes, Ejecutivo de Cuenta Comercial">
                        <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden" Selected=false>
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rotate" aria-hidden="true"></i> Actualizacion de registros
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Gestion de Transporte, Programador" Context="Actualizar">
                                    <RadzenPanelMenuItem Path="actualizacion" class="gcom-bg-rojo col-12" Style="border:hidden;">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-database" aria-hidden="true"></i> Actualizar datos
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>
                                </AuthorizeView>

                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador, Correo de Clientes, Ejecutivo de Cuenta Comercial" Context="AsignarCliDest">
                                    <RadzenPanelMenuItem Path="asignar-cliente-destino" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-user-tie" aria-hidden="true"></i> Relacionar datos
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>

                                </AuthorizeView>

                            </ChildContent>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="Correos">
                        <RadzenPanelMenuItem Path="configuracion-email" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-envelope" aria-hidden="true"></i> Correo Interno
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="Monedas">
                        <RadzenPanelMenuItem Path="configuracion/moneda" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-coins" aria-hidden="true"></i> Moneda
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador, Correo de Clientes, Ejecutivo de Cuenta Comercial" Context="AsignarCliDest">
                        <RadzenPanelMenuItem Path="configuracion/generacion/folios" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-marker" aria-hidden="true"></i> Generacion de folios
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                </ChildContent>
            </RadzenPanelMenuItem>

        </AuthorizeView>
        <!--Menu de precios-->
        <AuthorizeView Roles="Admin, Administrador Sistema, Precios, Direccion, Gerencia, Analista Credito, Contador, Revision Precios">
            <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-money-bill-1-wave" aria-hidden="true"></i> Precios
                    </div>
                </Template>
                <ChildContent>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Precios, Direccion, Gerencia, Analista Credito, Contador, Revision Precios" Context="Pricing">
                        <RadzenPanelMenuItem Path="precios" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-money-bill-1-wave" aria-hidden="true"></i> Precios
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Precios, Analista Credito, Contador, Revision Precios" Context="Correos">
                        <RadzenPanelMenuItem Path="historial/precios" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-file-invoice-dollar"></i> Historial de Precios
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                </ChildContent>
            </RadzenPanelMenuItem>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Cierre Pedidos, Revision Precios">
            <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierres
                    </div>
                </Template>
                <ChildContent>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Revision Precios" Context="CierrePedido">
                        <RadzenPanelMenuItem Path="cierre/pedido" class="gcom-bg-rojo" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre de pedidos
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden, Revision Precios" Context="CierreGrupo">
                        <RadzenPanelMenuItem Path="cierre-grupo" class="gcom-bg-rojo" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre por grupo
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Cierre Pedidos" Context="CierreCerrar">
                        <RadzenPanelMenuItem Path="cerrar" class="gcom-bg-rojo" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-folder-closed"></i> Cerrar pedidos
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Ejecutivo de Cuenta Comercial, Revision Precios" Context="CierreStatus">
                        <RadzenPanelMenuItem Path="orden" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-truck-ramp-box" aria-hidden="true"></i> Estado de pedido
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Revision Precios" Context="ReportesCierre">
                        <RadzenPanelMenuItem Path="reporte/cierres" class="gcom-bg-rojo" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-file-excel" aria-hidden="true"></i> Reportes Cierres
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial" Context="ReportesCierre">
                        <RadzenPanelMenuItem Path="reporte/cierres/volumen" class="gcom-bg-rojo" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-file-excel" aria-hidden="true"></i> Reporte de Volumen de Cierres
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                </ChildContent>
            </RadzenPanelMenuItem>
        </AuthorizeView>

        <!--Menú de órdenes-->
        <AuthorizeView Roles="Admin, Administrador Sistema, Lectura Asignacion, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Ejecutivo de Cuenta Operativo , Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Analista Credito, Contador, Auditor , Comprador, Revision Precios" Context="Ordenes">
            <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes
                    </div>
                </Template>
                <ChildContent>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                        <RadzenPanelMenuItem Path="ordenes" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes sin pedido
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                    
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                        <RadzenPanelMenuItem Path="ordenes/pedido" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes de pedido
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador">
                        <RadzenPanelMenuItem Path="ordenes/copiadas" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Confirmar ordenes copiadas
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial">
                        <RadzenPanelMenuItem Path="confirm-ordenes" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Confirmar ordenes de clientes
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Lectura Asignacion">
                        <RadzenPanelMenuItem Path="asignacion/unidades" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-truck-droplet" aria-hidden="true"></i> Programación Equipos
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Credito, Contador, Auditor, Ejecutivo de Cuenta Operativo">
                        <RadzenPanelMenuItem Path="seguimiento/ordenes" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-clipboard-list" aria-hidden="true"></i> Seguimiento de órdenes
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Analista Credito">
                        <RadzenPanelMenuItem Path="/consulta/Orden" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-magnifying-glass" aria-hidden="true"></i> Consulta de Orden
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Revision Precios, Analista Credito">
                        <RadzenPanelMenuItem Path="/consulta/ordencliente" class="gcom-bg-rojo col-12" Style="border:hidden">
                           <Template>
                               <div class="text-white">
                                   <i class="fa-solid fa-list-check"></i>Reporte de órdenes / precios de venta
                               </div>
                           </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Ejecutivo de Cuenta Operativo, Comprador">
                        <RadzenPanelMenuItem Path="eta" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-hourglass-half" aria-hidden="true"></i> ETA
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador" Context="OrdenHistorial">
                        <RadzenPanelMenuItem Path="historial/asignacion" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa-solid fa-file-invoice-dollar"></i> Historial de envios a synthesis
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>

                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador">
                        <RadzenPanelMenuItem Path="actualizar/pedidos" class="gcom-bg-rojo col-12" Style="border:hidden">
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-repeat" aria-hidden="true"></i> Actualizar ordenes
                                </div>
                            </Template>
                        </RadzenPanelMenuItem>
                    </AuthorizeView>
                </ChildContent>
            </RadzenPanelMenuItem>
        </AuthorizeView>

    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool UpdateMenu = false;
    private bool ConfigMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

