<div class="col-12 gcom-bg-rojo-dark p-3">
    <div class="d-flex justify-content-center col-12">
        <img src="img/gcom_unilogo.png" class="img-fluid col-7" />
    </div>
    <div class="col-12 text-center text-white my-2">
        <b>Gcom Fuel Management</b>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable gcom-bg-rojo" @onclick="ToggleNavMenu">
    <RadzenPanelMenu class="gcom-bg-rojo" Style="--rz-panel-menu-item-background-color:#BA1C15;--rz-panel-menu-item-2nd-level-background-color: #BA1C15;">

        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Programador, Gestion de Transporte, Correo de Clientes, Ejecutivo de Cuenta Comercial, Analista Credito, Contador" Context="Configs">
            <!--Configuración de catalogos maestros-->
            <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-gear" aria-hidden="true"></i> Configuracion
                    </div>
                </Template>
                <ChildContent>
               
                    <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Contador, Analista Credito, Programador, Gestion de Transporte, Correo de Clientes">
                        <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden" Selected=false>
                            <Template>
                                <div class="text-white">
                                    <i class="fa fa-solid fa-rotate" aria-hidden="true"></i> Actualizacion de registros
                                </div>
                            </Template>
                            <ChildContent>
                                <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Analista Credito, Contador, Correo de Clientes" Context="AsignarCliDest">
                                    <RadzenPanelMenuItem Path="asignar-cliente-destino" class="gcom-bg-rojo col-12" Style="border:hidden">
                                        <Template>
                                            <div class="text-white">
                                                <i class="fa fa-solid fa-user-tie" aria-hidden="true"></i> Relacionar datos
                                            </div>
                                        </Template>
                                    </RadzenPanelMenuItem>

                                </AuthorizeView>

                            </ChildContent>
                        </RadzenPanelMenuItem>

                    </AuthorizeView>
                </ChildContent>
            </RadzenPanelMenuItem>

        </AuthorizeView>
        <!--Cierre de Pedidos-->
        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Comprador, Lectura de Cierre de Orden" Context="cierress">
            <RadzenPanelMenuItem Path="cierres" class="gcom-bg-rojo" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre de pedidos
                    </div>
                </Template>
            </RadzenPanelMenuItem>
        </AuthorizeView>
        <!--Órdenes-->
        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador, Comprador, Cliente Lectura, Ejecutivo de Cuenta Comercial, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto" Context="Ordenes">
            <Authorized>
                <RadzenPanelMenuItem class="gcom-bg-rojo col-12 text-white" Style="border:hidden">
                    <Template>
                        <div class="text-white">
                            <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes
                        </div>
                    </Template>
                    <ChildContent>
                        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador, Comprador" Context="order">
                            <RadzenPanelMenuItem Path="pedidos" class="gcom-bg-rojo col-12" Style="border:hidden">
                                <Template>
                                    <div class="text-white">
                                        <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes
                                    </div>
                                </Template>
                            </RadzenPanelMenuItem>
                        </AuthorizeView>

                        <AuthorizeView Roles="Admin, Administrador Sistema, Cliente Lectura" Context="Estado">
                            <RadzenPanelMenuItem Path="orden" class="gcom-bg-rojo col-12" Style="border:hidden">
                                <Template>
                                    <div class="text-white">
                                        <i class="fa fa-solid fa-truck-ramp-box" aria-hidden="true"></i> Estado de pedido
                                    </div>
                                </Template>
                            </RadzenPanelMenuItem>
                        </AuthorizeView>

                        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Ejecutivo de Cuenta Operativo, Comprador" >
                            <RadzenPanelMenuItem Path="eta" class="gcom-bg-rojo col-12" Style="border:hidden">
                                <Template>
                                    <div class="text-white">
                                        <i class="fa fa-solid fa-hourglass-half" aria-hidden="true"></i> ETA
                                    </div>
                                </Template>
                            </RadzenPanelMenuItem>

                        </AuthorizeView>
                    </ChildContent>
                </RadzenPanelMenuItem>
            </Authorized>
        </AuthorizeView>
        @*<AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Operativo, Programador, Comprador">
            <RadzenPanelMenuItem Path="pedidos" class="gcom-bg-rojo col-12" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Órdenes
                    </div>
                </Template>
            </RadzenPanelMenuItem>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Administrador Sistema, Cliente Lectura" Context="Configs">
            <RadzenPanelMenuItem Path="orden" class="gcom-bg-rojo col-12" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-truck-ramp-box" aria-hidden="true"></i> Estado de pedido
                    </div>
                </Template>
            </RadzenPanelMenuItem>
        </AuthorizeView>

        <AuthorizeView Roles="Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Ejecutivo de Cuenta Operativo, Comprador">
            <RadzenPanelMenuItem Path="eta" class="gcom-bg-rojo col-12" Style="border:hidden">
                <Template>
                    <div class="text-white">
                        <i class="fa fa-solid fa-hourglass-half" aria-hidden="true"></i> ETA
                    </div>
                </Template>
            </RadzenPanelMenuItem>

        </AuthorizeView>*@

    </RadzenPanelMenu>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool UpdateMenu = false;
    private bool ConfigMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

