<div class="col-12 gcom-bg-rojo-dark p-3">
    <div class="d-flex justify-content-center col-12">
        <img src="img/gcom_unilogo.png" class="img-fluid col-7" />
    </div>
    <div class="col-12 text-center text-white my-2">
        <b>Gcom Fuel Manager</b>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable gcom-bg-rojo" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cierres" Match="NavLinkMatch.All">
                <div class="text-white">
                    <i class="fa fa-solid fa-store-slash" aria-hidden="true"></i> Cierre de orden
                </div>
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <div class="text-white">
                    <i class="fa fa-solid fa-rectangle-list" aria-hidden="true"></i> Pedido
                </div>
            </NavLink>
        </div>

        <AuthorizeView Roles="Admin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="asignacion/unidades" Match="NavLinkMatch.All">
                    <div class="text-white">
                        <i class="fa fa-solid fa-truck-droplet" aria-hidden="true"></i> Asignacion de unidades
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="seguimiento/ordenes" Match="NavLinkMatch.All">
                    <div class="text-white">
                        <i class="fa fa-solid fa-clipboard-list" aria-hidden="true"></i> Seguimiento de ordenes
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="usuarios" Match="NavLinkMatch.All">
                    <div class="text-white">
                        <i class="fa fa-solid fa-user" aria-hidden="true"></i> Usuarios
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="eta" Match="NavLinkMatch.All">
                    <div class="text-white">
                        <i class="fa fa-solid fa-hourglass-half" aria-hidden="true"></i> ETA
                    </div>
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="cursor:pointer;" @onclick="@(()=>UpdateMenu = !UpdateMenu)">
                    <div class="text-white">
                        <i class="fa fa-solid fa-rotate" aria-hidden="true"></i> Actualizacion de registros
                    </div>
                </NavLink>
                @if (UpdateMenu)
                {
                    <div class="vh-100">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="actualizacion" Match="NavLinkMatch.All">
                                <div class="text-white">
                                    <i class="fa fa-solid fa-database" aria-hidden="true"></i> Actualizar datos
                                </div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="asignar-cliente-destino" Match="NavLinkMatch.All">
                                <div class="text-white">
                                    <i class="fa fa-solid fa-user-tie" aria-hidden="true"></i> Asignar Cliente y Destino
                                </div>
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="asignar-contacto" Match="NavLinkMatch.All">
                                <div class="text-white">
                                    <i class="fa fa-solid fa-address-book" aria-hidden="true"></i> Asignar Contacto
                                </div>
                            </NavLink>
                        </div>
                    </div>
                }
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" style="cursor:pointer;" @onclick="@(()=>ConfigMenu = !ConfigMenu)">
                    <div class="text-white">
                        <i class="fa fa-solid fa-gear" aria-hidden="true"></i> Configuracion
                    </div>
                </NavLink>
                @if (ConfigMenu)
                {
                    <div class="vh-100">
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="configuracion-email" Match="NavLinkMatch.All">
                                <div class="text-white">
                                    <i class="fa fa-solid fa-envelope" aria-hidden="true"></i> Correo
                                </div>
                            </NavLink>
                        </div>
                    </div>
                }
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;
    private bool UpdateMenu = false;
    private bool ConfigMenu = false;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

