.selector-multiple {
    display: flex;
    min-height: 10vh;
    max-height: 50vh;
}

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .selector-multiple {
        flex-direction: column;
        max-height:none;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    .selector-multiple {
        flex-direction: row;
    }
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    .selector-multiple {
        flex-direction: column;
        max-height: none;
    }
}

.selectable-ui {
    overflow-y: auto;
    list-style-type: none;
    width: 48%;
    padding: 0;
    border-radius: 3px;
    border: 1px solid #ccc;
}

    .selectable-ui li {
        cursor: pointer;
        border-bottom: 1px #eee solid;
        padding: 2px 10px;
    }

/* typical phone screen resolution */
@media only screen and (max-width : 667px) {
    .selectable-ui {
        width: 100%;
        max-height: 25vh;
    }
}
/* landscape orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    .selectable-ui {
        width: 48%;
    }
}
/* portrait orientation */
@media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    .selectable-ui {
        width: 100%;
        max-height: 25vh;
    }
}

.selector-multiple-botones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
}

    .selector-multiple-botones button {
        padding: .3rem .75rem;
        border-radius: .25rem;
        font-size: 1rem;
        border: #bbb 1px solid;
        margin: .3rem;
    }

.filtro-input {
    min-height: calc(1.5em + .5rem + 2px);
    padding: .2rem .5rem;
    /*font-size: .8rem;*/
    /*border-radius: .2rem;*/
    width: 100%;
    color: black;
    background-color: white;
    border: 1px solid #b9bec3;
}
