@if (Visible)
{
    <td>
        @if (Template_Contenido is not null)
        {
            @Template_Contenido
        }
        else
        {
            @Contenido
        }
    </td>
}
@code {
    [Parameter] public RenderFragment Template_Contenido { get; set; } = null!;
    [Parameter] public object? Contenido { get; set; } = default;
    [Parameter] public bool Visible { get; set; } = true;
}
