@typeparam T
<table class="tabla-custom">
    <thead>
        @if (Cabeceras is not null)
        {
            @* <tr>
        @Cabeceras
        </tr> *@
            @Cabeceras
        }
    </thead>
    <tbody>
        @if (Cargando is not null)
        {
            @if (Cargando == true)
            {
                <tr>
                    <SpinnerLoading />
                </tr>
            }
        }
        @if (Listado is not null)
        {
            <CascadingValue Value="this">
                <Virtualize TItem="T" Items="Listado" Context="item">
                    <tr>
                        @if (Columna is not null)
                        {
                            @Columna(item)
                        }
                    </tr>
                </Virtualize>
            </CascadingValue>
        }
        else
        {
            <tr>
                <td>No hay registros</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            @if (Inferior is not null)
            {
                @Inferior
            }
        </tr>
    </tfoot>
</table>

@code {
    [Parameter] public List<T> Listado { get; set; } = new List<T>();
    [Parameter] public RenderFragment<T> Columna { get; set; } = null!;
    [Parameter] public RenderFragment Cabeceras { get; set; } = null!;
    [Parameter] public RenderFragment Inferior { get; set; } = null!;
    [Parameter] public bool? Cargando { get; set; }
}
