@page "/ETA"
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject IJSRuntime JS
@inject HttpClient Http
@inject NavigationManager navigationManager
@using System.IO;
@using System.Text.Json;
@using GComFuelManager.Client.Helpers;
@inject TooltipService ts
@attribute [Authorize(Roles = "Admin, Administrador Sistema, Direccion, Gerencia, Ejecutivo de Cuenta Comercial, Programador, Coordinador, Analista Suministros, Auditor, Capturista Recepcion Producto, Ejecutivo de Cuenta Operativo, Comprador")]


<h4><b>ETA</b></h4>
<!--Primer formulario para tiempo estimado de llegada del pedido-->
<div class="col-12 card shadow">
    <div class="card-body">
        <EditForm Model="Ordenes" class="row">
            <AuthorizeView Roles="Admin, Administrador Sistema, Coordinador, Capturista Recepcion Producto, Comprador" Context="Filter">
                <div class="row d-flex g-3">
                    <div class="row">
                        <div class="col-6">
                            <label>Número de Bol:</label>
                            <InputNumber class="form-control" @bind-Value="Ordenes.Bol" />
                        </div>
                        <div class="col-1 mt-4">
                            <button class="btn gcom-bg-amarillo col-12" @onclick="@GetOrden">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </AuthorizeView>
            <div class="row d-flex g-3">
                <div class="row">
                    <AuthorizeView Roles="Admin, Administrador Sistema, Coordinador, Capturista Recepcion Producto, Comprador" Context="Trayectos">
                        <div class="col-4">
                            <label>En trayecto:</label>
                            <InputSelect @bind-Value="@Ordenes.Orden!.Codest" class="form-select" TValue="byte?">
                                <option value="20">NO</option>
                                <option value="26">SI</option>
                            </InputSelect>
                        </div>
                    </AuthorizeView>
                    <AuthorizeView Roles="Admin, Administrador Sistema, Coordinador, Capturista Recepcion Producto, Comprador" Context="Equipo">
                        <div class="col-4">
                            <label>Equipo:</label>
                            <RadzenTextBox class="col-12" Disabled="true" @bind-Value="@Ordenes.Orden!.Tonel!.Tracto"></RadzenTextBox>
                        </div>
                    </AuthorizeView>
                </div>
            </div>



            <AuthorizeView Roles="Admin, Administrador Sistema, Capturista Recepcion Producto, Comprador" Context="EtaReal">
                <!--btn look-->
                <div class="row d-flex g-3">
                    <div class="row justify-content-end">
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label>Fecha real de llegada a destino:</label>
                        <RadzenDatePicker class="col-12" ShowTime="true" Culture="CultureInfo.CurrentCulture" ShowSeconds="true"
                                          @bind-Value="Ordenes.Fchrealledes"></RadzenDatePicker>
                    </div>
                    <div class="col-6">
                        <label>Cantidad de litros recibidos:</label>
                        <InputNumber class="form-control" @bind-Value="Ordenes.Litent" TValue="double?" />
                    </div>
                </div>
                <div class="row g-3 mt-1 mb-2">
                    <div class="col-6">
                        <label>Observaciones</label>
                        <InputTextArea class="form-control" @bind-Value="Ordenes.Obs" MaxLength="250" Placeholder="Máximo 250 caracteres"></InputTextArea>
                    </div>
                </div>
            </AuthorizeView>
            <AuthorizeView Roles="Admin, Administrador Sistema, Capturista Recepcion Producto, Coordinador, Comprador" Context="Actions">
                <div class="row d-flex g-3">
                    <div class="row justify-content-end">
                        <div class="col-3 mt-3 mb-3" @onmouseenter="@(args => ShowToolTip(infoIcon))" @ref="infoIcon">
                            <button class="btn gcom-bg-amarillo col-12" @onclick="SendOrdenEta">
                                <i class="fa-solid fa-floppy-disk"></i> <b>Guardar</b>
                            </button>
                        </div>
                    </div>
                </div>
            </AuthorizeView>
        </EditForm>
    </div>
</div>

@code {

    //Element References
    ElementReference infossIcon;
    ElementReference infosIcon;
    //Tooltips de reportes
    void ShowToolsTip(ElementReference elementReference, TooltipOptions options = null!) => ts.Open(elementReference, "En caso de buscar ordenes de tipo Delivery, seleccione un rango de fechas y escoja una opción de venta", options);
    void ShowToolsTips(ElementReference elementReference, TooltipService optionss = null!) => ts.Open(elementReference, "En caso de buscar Ordenes con Tipo de Venta RACK, solo filtre entre un rango de fechas");

    //Obtención de datos de la tabla Orden enlistados
    private Orden ordenEmbarque { get; set; } = new Orden();
    private List<EtaDTO> ordens { get; set; } = null!;
    private List<string> TpVenta { get; set; } = new List<string> { "Interno", "Externo" };

    Cliente cliente { get; set; } = new Cliente();
    //Instancia a modelo de OrdEmbDet
    OrdEmbDet Ordenes { get; set; } = new OrdEmbDet()
        {
            Orden = new Orden()
            {
                Estado = new Estado(),
                Tonel = new Tonel()
            }
        };
    //Instancia a DTO
    FechasF fechas = new FechasF();
    EtaDTO etaDto = new EtaDTO();

    ElementReference infoIcon;

    TimeOnly time;

    void ShowToolTip(ElementReference elementReference, TooltipOptions options = null!) => ts.Open(elementReference, "Este boton funciona simultaneamente para Editar como para Guardar el ETA Real", options);

    public async Task GetOrden()
    {
        try
        {
            //Tiempo Estimado de Arribo
            etaDto.Bol = Ordenes.Bol;
            var responseHttp = await repositorio.Post<EtaDTO, OrdEmbDet>($"api/Eta/Filtro", etaDto);
            if (responseHttp.Error)
            {
                Ordenes = null!;
                Ordenes = new OrdEmbDet() { Orden = new Orden() { Estado = new Estado(), Tonel = new Tonel() } };
                var respuestaHttp = await responseHttp.ObtenerMensajeError();

                await swal.FireAsync("Error", respuestaHttp + " " + "Debe ingresar un BOL Valido", SweetAlertIcon.Error);
            }
            else
            {
                Ordenes = responseHttp.Response;
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task SendOrdenEta()
    {
        try
        {

            if (Ordenes.Bol != 0 && Ordenes.Bol != null)
            {
                if (Ordenes?.Orden?.Codest != 0)
                {
                    Ordenes.Orden!.BatchId = Ordenes.Bol;

                    var responseHttp = await repositorio.Post<OrdEmbDet, OrdEmbDet>($"api/eta", Ordenes);
                    if (responseHttp.Error)
                    {
                        var respuestaHttp = await responseHttp.ObtenerMensajeError();
                        await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
                    }
                    else
                    {
                        await GetOrden();
                        await swal.FireAsync("Exito", "La orden ha sido registrada con exito", SweetAlertIcon.Success);
                    }
                }
                else
                    await swal.FireAsync("Alerta", "Selecione un valor valido para En Trayecto.", SweetAlertIcon.Warning);
            }
            else
                await swal.FireAsync("Alerta", "Ingrese un BOL valido.", SweetAlertIcon.Warning);
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    public async Task ExportExcel()
    {
        try
        {
            var responseHttp = await repositorio.Post<FechasF, List<EtaDTO>?>($"api/Eta/Etareporte", fechas);
            if (responseHttp.Error)
            {
                var respuestaHttp = await responseHttp.ObtenerMensajeError();
                await swal.FireAsync("Error", respuestaHttp, SweetAlertIcon.Error);
            }
            else
            {
                ordens = responseHttp.Response;
                //Licencia para guardado de Excel
                ExcelPackage.LicenseContext = LicenseContext.NonCommercial;
                //Generacion de Excel
                var excel = new ExcelPackage();
                var worksheet = excel.Workbook.Worksheets.Add("ETA");
                worksheet.Columns.Width = 49;
                worksheet.Columns.AutoFit();
                //Formación de Excel
                var tablebody = worksheet.Cells["A1:A1"].LoadFromCollection(
                    ordens
                  , true);
                tablebody.Style.Font.Bold = true;
                tablebody.Style.HorizontalAlignment = ExcelHorizontalAlignment.Center;
                var header = worksheet.Cells["A1:S1"];
                header.Style.Fill.PatternType = ExcelFillStyle.Solid;
                header.Style.Fill.BackgroundColor.SetColor(Color.LightGray);
                //Guardar Excell
                await JS.GuardarComo($"ETA_{DateTime.Now.ToString("yyyyy-MM-dd hh:mm:ss")}.xlsx", excel.GetAsByteArray());
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

}
