@page "/crm/cuentas"
@inject IRepositorio http
@inject SweetAlertService swal
@attribute [Authorize(Roles = "Admin, VER_MODULO_CUENTAS")]

<AuthorizeView Roles="Admin, VER_MODULO_CUENTAS">
    <Authorized>
        <div class="card">
            <div class="card-header d-flex justify-content-between">
                <b>Cuentas</b>
                <NavLink class="g-1 btn gcom-bg-amarillo" Match="NavLinkMatch.All" href="../">
                    <i class="fa fa-solid fa-arrow-left" />
                    Volver
                </NavLink>
            </div>
        </div>
        <AuthorizeView Roles="Admin, CREAR_CUENTA">
            <Authorized Context="CREARCUENTA">
                <div class="col-12 my-2">
                    <div class="col-md-2 col">
                        <NavLink Match="NavLinkMatch.All" href="crm/cuentas/formulario" class="btn btn-sm gcom-bg-amarillo col-12 g-1">
                            <i class="fa fa-solid fa-plus" /> Agregar
                        </NavLink>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
        <AuthorizeView Roles="Admin, VER_CUENTAS">
            <Authorized Context="VERCUENTAS">
                <div class="ancho-tabla">
                    <Tabla Datos="Cuentas">
                        <Cabeceras>
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_CUENTA, ELIMINAR_CUENTA, VER_DETALLE_CUENTA">
                                    <Authorized Context="ACCIONES">
                                        <th></th>
                                    </Authorized>
                                </AuthorizeView>
                                <th>Cuenta</th>
                            </tr>
                        </Cabeceras>
                        <Filtros>
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_CUENTA, ELIMINAR_CUENTA, VER_DETALLE_CUENTA">
                                    <Authorized Context="ACCIONES">
                                        <td></td>
                                    </Authorized>
                                </AuthorizeView>
                                <td><input class="form-control" @bind-value="@filtro.Nombre" @oninput="FiltrarNombre" /></td>
                            </tr>
                        </Filtros>
                        <Columnas Context="item">
                            <tr>
                                <AuthorizeView Roles="Admin, EDITAR_CUENTA, ELIMINAR_CUENTA, VER_DETALLE_CUENTA">
                                    <Authorized Context="ACCIONES">
                                        <td>
                                            <div class="btn-group">
                                                <AuthorizeView Roles="Admin, EDITAR_CUENTA">
                                                    <Authorized Context="EDITARVENDEDOR">
                                                        <NavLink class="btn gcom-bg-amarillo" href=@($"/crm/cuentas/formulario/{item.Id}")>
                                                            <i class="fa fa-solid fa-edit" />
                                                        </NavLink>
                                                    </Authorized>
                                                </AuthorizeView>
                                                <AuthorizeView Roles="Admin, VER_DETALLE_CUENTA">
                                                    <Authorized Context="VERDETALLEVENDEDOR">
                                                        <NavLink class="btn gcom-bg-amarillo" href=@($"/crm/cuenta/{item.Id}")>
                                                            <i class="fa fa-solid fa-eye" />
                                                        </NavLink>
                                                    </Authorized>
                                                </AuthorizeView>
                                                <AuthorizeView Roles="Admin, ELIMINAR_CUENTA">
                                                    <Authorized Context="ELMINARVENDEDOR">
                                                        <button class="btn btn-danger" @onclick="@(()=>EliminarVendedor(item.Id))">
                                                            <i class="fa fa-solid fa-trash" />
                                                        </button>
                                                    </Authorized>
                                                </AuthorizeView>
                                            </div>
                                        </td>
                                    </Authorized>
                                </AuthorizeView>
                                <td>@item.Nombre</td>
                            </tr>
                        </Columnas>
                    </Tabla>
                </div>
                <div class="col-12">
                    <PaginacionComponent PaginaActual="filtro.Pagina_ACtual" PaginasTotales="filtro.Total_paginas" PaginaSeleccionada="Pagina_Seleccionada" Radio="5" />
                    <div class="col-12">
                        <p>Total de registros: @filtro.Total_registros</p>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
    </Authorized>
    <NotAuthorized>
        <NoAutorizado />
    </NotAuthorized>
</AuthorizeView>

@code {
    List<CRMClienteDTO> Cuentas = new();
    CRMClienteDTO filtro = new();
    Dictionary<string, string> query = new();

    bool loading_info = false;

    protected override async Task OnInitializedAsync()
    {
        await ObtenerCuenta();
    }

    private Dictionary<string, string> SetFiltro()
    {
        query[$"{nameof(filtro.Nombre)}"] = filtro.Nombre;
        query[$"{nameof(filtro.Pagina)}"] = filtro.Pagina.ToString();
        query[$"{nameof(filtro.Registros_por_pagina)}"] = filtro.Registros_por_pagina.ToString();
        return query;
    }

    private async Task ObtenerCuenta()
    {
        try
        {
            loading_info = true;
            var uri = Constructor_De_URL_Parametros.Generar_URL(SetFiltro());

            var response = await http.Get<List<CRMClienteDTO>>($"api/crmcliente?{uri}");
            if (response.Error)
            {
                loading_info = false;
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                loading_info = false;
                Cuentas = response.Response;

                filtro.Total_paginas = Constructor_De_URL_Parametros.Obt_Total_Paginas(response.HttpResponseMessage);
                filtro.Total_registros = Constructor_De_URL_Parametros.Obt_Total_Registros(response.HttpResponseMessage);
                filtro.Pagina_ACtual = Constructor_De_URL_Parametros.Obt_Pagina_Actual(response.HttpResponseMessage);
            }
        }
        catch (Exception e)
        {
            loading_info = false;
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }
    }

    private async Task FiltrarNombre(ChangeEventArgs args)
    {
        filtro.Nombre = args.Value?.ToString() ?? string.Empty;
        await ObtenerCuenta();
    }

    private async Task Pagina_Seleccionada(int pagina)
    {
        filtro.Pagina_ACtual = pagina;
        filtro.Pagina = pagina;

        await ObtenerCuenta();
    }

    private async Task EliminarVendedor(int id)
    {
        try
        {
            var response = await http.Delete($"api/crmcliente/{id}");
            if (response.Error)
            {
                var message = await response.ObtenerMensajeError();
                await swal.FireAsync("Error", message, SweetAlertIcon.Error);
            }
            else
            {
                await ObtenerCuenta();
            }
        }
        catch (Exception e)
        {
            await swal.FireAsync("Error", e.Message, SweetAlertIcon.Error);
        }

    }
}
