@layout FullPageComponent

@page "/login"
@inject NavigationManager navigationManager
@inject SweetAlertService swal

<div class="card col-6 ">

</div>



@code {
    private Usuario usuario = new Usuario

}

