@page "/"
@page "/crm"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <div class="card text-black bg-white">
            <div class="card-header">
                <h3 align="center">Bienvenido @context.User.Identity?.Name</h3>
            </div>
        </div>
        <div class="col-12 my-3">
            @* <img class="mx-auto d-block w-50" src="https://i.postimg.cc/Z57T1QGJ/Triptico-Energas-EDITABLE-03.png" alt="Card image cap"> *@
            <div class="col-12 d-flex justify-content-center flex-wrap">
                @foreach (var menu in Menus)
                {
                    <div class="col-md-3 col-6 p-2">
                        <div class="col-12 h-100">
                            <NavLink class="text-dark" Match="NavLinkMatch.All" href="@menu.Url">
                                <div class="card d-flex justify-content-center h-100">
                                    <img class="card-img-top mx-auto mt-2" src="@menu.Img" alt="Card image" style="width:50%;">
                                    <div class="card-body">
                                        <h4 class="card-title text-center text-wrap" style="font-size:1.2rem"><b>@menu.Titulo</b></h4>
                                    </div>
                                </div>
                            </NavLink>
                        </div>
                    </div>
                }
            </div>
        </div>
    </Authorized>
</AuthorizeView>
<style>
    .card-img-custom {
        width: 100%; /* Ajusta el ancho al 100% del contenedor de la tarjeta */
        height: auto; /* Fija la altura a 200px */
        object-fit: cover; /* Recorta la imagen para llenar el contenedor */
    }
</style>

@code {
    List<Menu> Menus = new()
{
        new("crm/contactos","img/crm.png","Contactos"),
        new("crm/oportunidades","img/salary.png","Oportunidades"),
        new("crm/listado/actividades","img/clock.png","Actividades"),
        new("crm/historial/actividades","img/clipbboard.png","Historial de Actividades"),
        new("crm/vendedores","img/trader.png","Vendedores"),
        new("crm/originadores","img/people.png","Originadores"),
        new("crm/roles","img/management.png","Roles"),
        new("crm/usuarios","img/User.png","Usuarios"),
    {
        new("crm/contactos","img/contactos.png","Contactos"),
        new("crm/oportunidades","img/oportunidades.png","Oportunidades"),
        new("crm/listado/actividades","img/actividades.png","Actividades"),
        new("crm/historial/actividades","img/historialactividades.png","Historial de Actividades"),
        new("crm/vendedores","img/vendedores.png","Vendedores"),
        new("crm/originadores","img/comerciales.png","Originadores"),
        new("crm/roles","img/roles.png","Roles"),
        new("crm/equipos","img/equipos.png","Equipos"),
    };

    record Menu(string Url, string Img, string Titulo);
}