@page "/"

<AuthorizeView>
    <Authorized>
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="card border-white text-black bg-white">
                        <div class="card-header text-center" style="border: 10px;">
                            <h3 class="text-center">Bienvenido @context.User.Identity?.Name a la unidad de negocio @context.User.FindFirstValue("Terminal")</h3>
                        </div>
                        <div class="card-body text-center">
                            <img class=" img-fluid mx-auto d-block" src="https://i.postimg.cc/Z57T1QGJ/Triptico-Energas-EDITABLE-03.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {
    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }
}
