@inject IJSRuntime js
@inject IRepositorio repositorio
@inject SweetAlertService swal
@inject NotificationService ns

@page "/actualizacion"
<h4><b>Actualizacion de registros</b></h4>

<div class="col-12 d-flex justify-content-center mt-4">
    <div class="col-9 card shadow ">
        <div class="card-body">
            <div class="row p-4">
                <div class="col-12 mb-3">
                    <!--Transportista-->
                    <label>Transportista:</label>
                    <InputSelect class="form-select col-12" @bind-Value="TransportistaSeleccionado">
                        <input type="text" />
                        <option>-- seleccione una opcion --</option>
                        @if (Transportistas is null)
                        {
                            <option disabled>Cargando...</option>
                        }
                        else if (Transportistas.Count == 0)
                        {
                            <option disabled>No hay Transportistas</option>
                        }
                        else
                        {
                            foreach (var item in Transportistas)
                            {
                                <option value="@item.cod">@item.den</option>
                            }
                        }
                    </InputSelect>
                </div>
                <div class="col-6 mb-3">
                    <div class="col-12">
                        <button class="col-12 h-100 btn shadow-sm">
                            <div class="col-12 row">
                                <div class="col-4">
                                    <img src="img/delivery-truck.png" class="img-fluid" />
                                </div>
                                <div class="col d-flex align-items-center justify-content-start">
                                    <b>Actualizar unidades</b>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="col-12">
                        <button class="col-12 h-100 btn shadow-sm">
                            <div class="col-12 row">
                                <div class="col-4">
                                    <img src="img/worker (1).png" class="img-fluid" />
                                </div>
                                <div class="col d-flex align-items-center justify-content-start">
                                    <b>Actualizar operarios</b>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="col-12">
                        <button class="col-12 h-100 btn shadow-sm">
                            <div class="col-12 row">
                                <div class="col-4">
                                    <img src="img/delivery-truck (1).png" class="img-fluid" />
                                </div>
                                <div class="col d-flex align-items-center justify-content-start">
                                    <b>Actualizar transportistas</b>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
                <div class="col-6 mb-3">
                    <div class="col-12">
                        <button class="col-12 h-100 btn shadow-sm">
                            <div class="col-12 row">
                                <div class="col-4">
                                    <img src="img/rating.png" class="img-fluid" />
                                </div>
                                <div class="col d-flex align-items-center justify-content-start">
                                    <b>Actualizar clientes/destinos</b>
                                </div>
                            </div>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    private OrdenEmbarque ordenEmbarque { get; set; } = new OrdenEmbarque();
    private List<OrdenEmbarque> ordens { get; set; } = new List<OrdenEmbarque>();

    private Usuario usuario { get; set; } = new Usuario();
    private string nmbr = string.Empty;

    //Selecciones
    private int TransportistaSeleccionado = 0;
    private int TransportistaSeleccionadoB = 0;

    //Listas
    private List<Transportista> Transportistas { get; set; } = null!;

    protected override async Task OnInitializedAsync()
    {
        await GetTransportista();
    }

    public async Task GetTransportista()
    {
        var response = await repositorio.Get<List<Transportista>>("api/transportista");
        if (response.Error)
        {
            var responseHttp = await response.ObtenerMensajeError();
            await swal.FireAsync("Error", responseHttp, SweetAlertIcon.Error);
        }
        else
        {
            Transportistas = response.Response;
        }
    }

}

