@page "/precios"

<AuthorizeView>
    <Authorized>
        <h3>Precios</h3>

        <div class="d-flex justify-content-center col-12 shadow-sm mt-3 card">
            <div class="col-9 card-body">
                
            </div>
        </div>
    </Authorized>
</AuthorizeView>

@code {

}
