
<div>
    @foreach (var archivo in Archivos)
    {
        <iframe src="archivo.URL" style="width:100%;display:block;"></iframe>
    }
</div>

@code {
    [Parameter] public List<Archivo> Archivos { get; set; } = new();
}
